<% provide(:title, "Uredi pitanje") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Uredi pitanje</h1>

    <%= simple_form_for @question do |f| %>
      <%= render "form", f: f %>
      <%= f.button :button, "Spremi Izmjene" %>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "form" %>
