<% provide(:title, "Pitanja") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Pitanja</h1>
    <%= link_to "Dodaj pitanje", new_question_path, class: "waves-effect waves-light btn button1" %>
    <table class="highlight bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Kategorija</th>
          <th>Slika</th>
          <th>Pitanje</th>
          <th>Odgovor</th>
          <th>Obriši</th>
        </tr>
      </thead>
      <tbody>
        <% @questions.each do |question| %>
          <tr>
            <td><%= question.id %></td>
            <td><%= question.category.name if question.category %></td>
            <td><%= question_image_tag(question, :small) %></td>
            <td><%= link_to truncate(question.question_name, length: 50), edit_question_path(question) %></td>
            <td><%= truncate(question.answer, length: 10) %></td>
            <td><%= link_to question_path(question), method: :delete, data: { confirm: "Jeste li sigurni?" }, class: "delete" do %>
              <i class="material-icons">delete</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @questions %>

  </div>
</div>
