<% provide(:title, "Novo pitanje") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Dodaj novo pitanje</h1>

    <%= simple_form_for @question do |f| %>
      <%= render "form", f: f %>
      <%= f.button :button, "Dodaj Pitanje" %>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "form" %>
