<div class="quizz">
  <%= image_tag("question.gif", alt: "question", class: "back-image") %>
  <div class="quizz-content">
    <% @categories.each do |category| %>
      <div id=<%= "box#{category.id}" -%>>
        <h1><%= category.name %></h1>
        <% category.questions.each_with_index do |question, i| %>
          <ul class="question-list" style="display: inline;">
           <li><%= link_to (i + 1), question(category_id: category.id, question_id: question.id) %></li>
          </ul>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
