<% provide(:title, "Uredi ekipu") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Uredi ime ekipe</h1>

    <%= simple_form_for @team do |f| %>
      <%= render "form", f: f %>
      <%= f.button :button, "Spremi izmjene" %>
    <% end %>
  </div>
</div>
