<% provide(:title, "Nova ekipa") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Dodaj novu ekipu</h1>

    <%= simple_form_for @team do |f| %>
      <%= render "form", f: f %>
      <%= f.button :button, "Dodaj ekipu" %>
    <% end %>
  </div>
</div>
