<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Bodovanje | Poredak ekipa</h4>
    <table class="highlight bordered">
      <thead>
        <tr>
          <td>Naziv ekipe</td>
          <td>1. Krug</td>
          <td>2. Krug</td>
          <td>3. Krug</td>
          <td>4. Krug</td>
          <td>5. Krug</td>
          <td>6. Krug</td>
          <td>7. Krug</td>
          <td>8. Krug</td>
          <td>9. Krug</td>
          <td>10. Krug</td>
          <td>11. Krug</td>
          <td>12. Krug</td>
          <td>13. Krug</td>
          <td>14. Krug</td>
          <td>15. Krug</td>
          <td>ZBROJ BODOVA</td>
        </tr>
      </thead>
      <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td class="team-text"><%= team.name %></td>
            <td><%= best_in_place team, :game1, as: :input %></td>
            <td><%= best_in_place team, :game2, as: :input %></td>
            <td><%= best_in_place team, :game3, as: :input %></td>
            <td><%= best_in_place team, :game4, as: :input %></td>
            <td><%= best_in_place team, :game5, as: :input %></td>
            <td><%= best_in_place team, :game6, as: :input %></td>
            <td><%= best_in_place team, :game7, as: :input %></td>
            <td><%= best_in_place team, :game8, as: :input %></td>
            <td><%= best_in_place team, :game9, as: :input %></td>
            <td><%= best_in_place team, :game10, as: :input %></td>
            <td><%= best_in_place team, :game11, as: :input %></td>
            <td><%= best_in_place team, :game12, as: :input %></td>
            <td><%= best_in_place team, :game13, as: :input %></td>
            <td><%= best_in_place team, :game14, as: :input %></td>
            <td><%= best_in_place team, :game15, as: :input %></td>
            <td class="team-text"><%= team.sum_points %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Zatvori</a>
  </div>
</div>
