<% provide(:title, "Uhvaćeni u neznanju!") %>

<div class="home">
  <div id="background" class="home-wrapper center-align">
    <%= link_to quizz_path, class: "btn-floating btn-large waves-effect waves-light red" do %>
      <i class="material-icons">play_arrow</i>
    <% end %>
    <%= image_tag("hand_kviz.png", class: "home-logo") %>
  </div>
  <div class="logo-title">
    <h1>Uhvaćeni u neznanju!</h1>
    <% link_to "Započni kviz", quizz_path, class: "btn" %>
  </div>
</div>
