<% provide(:title, "Odaberi kategoriju i pitanje") %>

<div class="quizz">
  <%= image_tag("questionmark.png", alt: "question", class: "back-image") %>
  <div class="quizz-content">
    <div class="card-panel hoverable">
      <% @categories.each do |category| %>
        <div id=<%= "box#{category.id}" -%>>
          <h1><%= category.name %></h1>
          <% category.questions.each_with_index do |question, i| %>
            <ul class="question-list" style="display: inline;">
              <li><%= link_to (i + 1), show_path(question_id: question.id) %></li>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

