<% provide(:title, "Odgovori na pitanje!") %>

<%= render "quizz/teams_modal" %>

<div class="question">
  <%= image_tag("show.png", alt: "question", class: "question-image") %>
  <div class="question-wrapper">
    <div class="card-panel hoverable">
      <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal1"><i class="material-icons">add</i></a>
      <h1><%= @category.name %></h1>
      <div class="row">
        <div class="col s6">
          <div class="image left-align">
            <%= question_image_tag(@question, :large) %>
          </div>
        </div>
        <div class="col s6">
          <div class="question-text">
            <%= md_to_html @question.question_name %>
          </div>
        </div>
      </div>
      <p class="answer"><%= @question.answer %></p>
      <a id="show" class="waves-effect waves-light btn button1">Prikaži rješenje</a>
    </div>
  </div>
</div>
<%= javascript_include_tag "show" %>
