.button1 {
  float: right;
}
.attachinary label {
  text-transform: capitalize;
}
label.attachinary.required {
  margin-top: -50px;
}
.input-field.attachinary.required.question_image {
  margin-top: 50px;
  padding-bottom: 70px;
}
.attachinary-input {
  margin-top: -30px;
}
.delete {
  color: red;
}

/* mutual style for categories and questions */
.create-wrapper {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1200px;
}
.create-wrapper h1 {
  text-transform: uppercase;
  color: #008080;
  font-size: 32px;
  padding-bottom: 20px;
}
.create-wrapper table {
  font-size: 14px;
}
.create-wrapper table th {
  text-transform: uppercase;
}
.pagination a li.active {
  background-color: #008080;
  color: #fff;
}
