.quizz-content {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1000px;
  text-align: center;
}
.quizz-content h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  color: #fff;
  padding-top: 15px;
  letter-spacing: 20px;
  border-bottom: 2px solid #fff;
  font-weight: 600;
  padding-left: 30px;
  padding-bottom: 5px;
}
.question-list {
  list-style: none;
  margin-top: 60px;
}
.question-list li {
  display: inline;
  padding: 0px 50px;
  color: #fff;
}
.question-list li a {
  color: #fff;
  font-weight: 400;
  padding: 3px 7px;
  background-color: #008080;
}

.question-list li a:visited {
  color: red;
}
#box1 {
  background-color: #e57373;
  height: 120px;
  margin-top: -20px;
}
#box11, #box21, #box31, #box41, #box51 {
  background-color: #e57373;
  height: 120px;
  margin-top: -31px;
}
#box2, #box12, #box22, #box32, #box42, #box52 {
  background-color: #64b5f6;
  height: 120px;
  margin-top: -31px;
}
#box3, #box13, #box23, #box33, #box43, #box53 {
  background-color: #80cbc4;
  height: 120px;
  margin-top: -31px;
}
#box4, #box14, #box24, #box34, #box44, #box54 {
  background-color: #e6ee9c;
  height: 120px;
  margin-top: -31px;
}
#box5, #box15, #box25, #box35, #box45, #box55 {
  background-color: #ffcc80;
  height: 120px;
  margin-top: -31px;
}
#box6, #box16, #box26, #box36, #box46, #box56 {
  background-color: #bcaaa4;
  height: 120px;
  margin-top: -31px;
}
#box7, #box17, #box27, #box37, #box47, #box57 {
  background-color: #e0e0e0;
  height: 120px;
  margin-top: -31px;
}
#box8, #box18, #box28, #box38, #box48, #box58 {
  background-color: #f8bbd0;
  height: 120px;
  margin-top: -31px;
}
#box9, #box19, #box29, #box39, #box49, #box59 {
  background-color: #e1bee7;
  height: 120px;
  margin-top: -31px;
}
#box10, #box60, #box60, #box60, #box60, #box60 {
  background-color: #b2ebf2;
  height: 120px;
  margin-top: -31px;
}
.back-image {
  width: 300px;
  height: 600px;
  float: right;
  margin-right: 100px;
  margin-top: 100px;
}
