.question-wrapper {
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1200px;
  height: auto;
}
.question-image {
  width: 300px;
  height: 600px;
  float: left;
  margin-left: 100px;
  margin-top: 100px;
}
.question-wrapper h1 {
  text-align: center;
  text-transform: uppercase;
  color: #008080;
}
.image {
  margin: 50px 0px 0px 0px;
}
.question-text {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 400;
}
.question-text a {
  position: fixed;
  bottom: 0;
}
.btn-answer {
  float: center;
}
#show {
  margin-top: -20px;
}
.answer {
  visibility: hidden;
  text-align: center;
  width: 100%;
  background-color: #008080;
  color: #fff;
  font-size: 24px;
  margin-left: 10px;
}

.btn-floating {
  float: right;
  top: 0;
}

.brain-image {
  width: 400px;
  height: 300px;
  float: right;
  margin-right: 12%;
  margin-top: 200px;
}
.team-text {
  font-weight: bold;
  color: #26a69a;
  font-size: 18px;
  text-transform: uppercase;
}
