<% provide(:title, "Kategorije") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Kategorije</h1>
    <%= link_to "Dodaj kategoriju", new_category_path, class: "waves-effect waves-light btn button1" %>
    <table class="highlight bordered">
      <thead>
        <tr>
          <th>Id</th>
          <th>Naziv kategorije</th>
          <th>Obriši</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= link_to category_path(category), method: :delete, data: { confirm: "Jeste li sigurni?" }, class: "delete" do %>
              <i class="material-icons">delete</i>
            <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @categories %>

</div>
</div>
