<% provide(:title, "Nova kategorija") %>

<div class="create-wrapper">
  <div class="card-panel hoverable">
    <h1>Dodaj novu kategoriju</h1>

    <%= simple_form_for @category do |f| %>
      <%= render "form", f: f %>
      <%= f.button :button, "Dodaj Kategoriju" %>
    <% end %>
  </div>
</div>
