<!DOCTYPE html>
<html>
  <head>
    <title>Kviz | <%= yield(:title) %></title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= cloudinary_js_config %>

    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,500italic,700italic,300italic,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Butcherman&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <nav class="teal">
    <div class="nav-wrapper">
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">reorder</i></a>
      <h1><%= link_to "Uhvaćeni u neznanju!", root_path, class: "brand-logo" %></h1>
      <%= render_main_menu %>
      <%= render_side_menu %>
    </div>
    </nav>


    <% if notice %>
      <script type="text/javascript">
        Materialize.toast('<%= notice %>', 4000)
        </script>
      <% end %>
      <% if alert %>
        <script type="text/javascript">
          Materialize.toast('<%= alert %>', 4000)
          </script>
        <% end %>

    <%= yield %>

    <%= javascript_include_tag "header" %>
  </body>
</html>
